h2= song.name
p Album: #{song.album}
p Artist: #{song.artist}
p Year: #{song.year}
p Bit Rate: #{song.bitrate}k/s
p Running time: #{song.runningtime}
a(href="#",data-songid=song.id,class="playsong",data-songname) Play #{song.name}

